Repository AbooMinister25/catcord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dawnofmidnight, @Kronifer, @Evorage0, @doublevcodes

Restructured backend of API. Moved files from __main__.py file to routers/ folder and organized them.
  .idea/.gitignore
  .idea/catcord.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
  backend/core/config.py
  backend/core/testclient.py
  backend/main.py
  backend/routers/__init__.py
  backend/routers/messages.py
  backend/routers/servers.py
  backend/routers/token.py
  backend/schemas.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Owners: @Kronifer, @Evorage0, @doublevcodes

Removed unused imports and added .idea to .gitignore
  .gitignore
  backend/routers/token.py
Owners: @Kronifer, @Evorage0, @doublevcodes

Renamed /routes to /endpoints
  backend/core/config.py
  backend/endpoints/__init__.py
  backend/endpoints/messages.py
  backend/endpoints/servers.py
  backend/endpoints/token.py
  backend/main.py
  poetry.lock
  pyproject.toml
Owners: @Kronifer, @Evorage0, @doublevcodes

Removed .idea
  .idea/.gitignore
  .idea/catcord.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
Owners: none

Restructured backend of API. (#41)
  backend/endpoints/messages.py
  backend/endpoints/servers.py
  pyproject.toml
Owners: @Kronifer, @Evorage0, @doublevcodes

Update README.md (#58)
  README.md
Owners: none

Improved on the basic logging skeleton, added better log file handling, switched to aiofiles for file read/writes in logging, removed loguru and replaced everything with the custom logger
  .gitignore
  backend/core/logger.py
  backend/db/crud.py
  backend/db/tasks.py
  backend/endpoints/messages.py
  backend/endpoints/servers.py
  backend/endpoints/token.py
  backend/main.py
  catcord_logs/database.log
  catcord_logs/test.log
  poetry.lock
  pyproject.toml
Owners: @Kronifer, @Evorage0, @doublevcodes

Added log files to .gitignore
  .gitignore
Owners: none

Added log files to .gitignore
  catcord_logs/database.log
  catcord_logs/test.log
  frontend/dist/index.bundle.js
  frontend/dist/index.bundle.js.LICENSE.txt
  frontend/dist/index.bundle.js.map
  frontend/dist/index.html
  frontend/dist/manifest.533838755fef542a396dc2788fe93287.json
  frontend/dist/robots.txt
Owners: @dawnofmidnight

Temporarily disable dependabot for the frontend
  .github/dependabot.yml
Owners: none

Create actionembed.yml
  .github/workflows/actionembed.yml
Owners: none

Update actionembed.yml
  .github/workflows/actionembed.yml
Owners: none

Grammar and rewording (#60)
  README.md
Owners: none

Refactor logger.py: see extended desc (#59)
  backend/core/logger.py
Owners: @Kronifer, @Evorage0, @doublevcodes

Refactored instances where custom logger was used. Changed Flake8 max line length to 100. (#66)
  .github/workflows/lint-test-backend.yml
  .gitignore
  backend/core/config.py
  backend/core/logger.py
  backend/db/crud.py
  backend/db/tasks.py
  backend/endpoints/messages.py
  backend/endpoints/servers.py
  backend/endpoints/token.py
  backend/main.py
Owners: @Kronifer, @Evorage0, @doublevcodes

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Owners: none

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Owners: none

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Owners: none

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Owners: none

Update lint-test-frontend.yml
  .github/workflows/lint-test-frontend.yml
Owners: none

Update testing-pytest.yml
  .github/workflows/testing-pytest.yml
Owners: none

Semantic markup (#68)
  README.md
Owners: none

Added basic tauri support. Tauri app can now be run by doing yarn tauri dev. No need to start react app separately
  frontend/package.json
  frontend/src-tauri/.gitignore
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/Square107x107Logo.png
  frontend/src-tauri/icons/Square142x142Logo.png
  frontend/src-tauri/icons/Square150x150Logo.png
  frontend/src-tauri/icons/Square284x284Logo.png
  frontend/src-tauri/icons/Square30x30Logo.png
  frontend/src-tauri/icons/Square310x310Logo.png
  frontend/src-tauri/icons/Square44x44Logo.png
  frontend/src-tauri/icons/Square71x71Logo.png
  frontend/src-tauri/icons/Square89x89Logo.png
  frontend/src-tauri/icons/StoreLogo.png
  frontend/src-tauri/icons/icon.icns
  frontend/src-tauri/icons/icon.ico
  frontend/src-tauri/icons/icon.png
  frontend/src-tauri/rustfmt.toml
  frontend/src-tauri/src/build.rs
  frontend/src-tauri/src/main.rs
  frontend/src-tauri/tauri.conf.json
  frontend/yarn.lock
Owners: @dawnofmidnight

Remove redundacies, grammar, punctuation, better wording (#62)
  CONTRIBUTING.md
Owners: none

Added support for Tauri in the frontend. (#71)
  frontend/package.json
  frontend/src-tauri/.gitignore
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/Square107x107Logo.png
  frontend/src-tauri/icons/Square142x142Logo.png
  frontend/src-tauri/icons/Square150x150Logo.png
  frontend/src-tauri/icons/Square284x284Logo.png
  frontend/src-tauri/icons/Square30x30Logo.png
  frontend/src-tauri/icons/Square310x310Logo.png
  frontend/src-tauri/icons/Square44x44Logo.png
  frontend/src-tauri/icons/Square71x71Logo.png
  frontend/src-tauri/icons/Square89x89Logo.png
  frontend/src-tauri/icons/StoreLogo.png
  frontend/src-tauri/icons/icon.icns
  frontend/src-tauri/icons/icon.ico
  frontend/src-tauri/icons/icon.png
  frontend/src-tauri/rustfmt.toml
  frontend/src-tauri/src/build.rs
  frontend/src-tauri/src/main.rs
  frontend/src-tauri/tauri.conf.json
  frontend/yarn.lock
Owners: @dawnofmidnight

Create .eslintignore
  frontend/.eslintignore
Owners: @dawnofmidnight

Update .eslintignore
  frontend/.eslintignore
Owners: @dawnofmidnight

Update lint-test-frontend.yml
  .github/workflows/lint-test-frontend.yml
Owners: none

fix: fix yarn errors and upgrade dependencies. (#84)
  .github/dependabot.yml
  .yarn/releases/yarn-2.4.2.cjs
  frontend/.yarn/releases/yarn-2.4.2.cjs
  frontend/.yarn/releases/yarn-berry.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Owners: @dawnofmidnight

Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Owners: none

ci: Add workflow for pushing to ghcr.io (#87)
  .github/dependabot.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/lint-test-backend.yml
  .github/workflows/testing-pytest.yml
Owners: none

Add workflow_dispatch event to deploy workflow
  .github/workflows/deploy-backend.yml
Owners: none

refactor: codebase docker (#95)
  .github/workflows/deploy-backend.yml
  .github/workflows/lint-test-backend.yml
  .gitignore
  backend/.flake8
  backend/.gitignore
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/__main__.py
  backend/src/core/actions.py
  backend/src/core/config.py
  backend/src/core/logger.py
  backend/src/core/testclient.py
  backend/src/db/crud.py
  backend/src/db/tasks.py
  backend/src/endpoints/__init__.py
  backend/src/endpoints/messages.py
  backend/src/endpoints/servers.py
  backend/src/endpoints/token.py
  backend/src/main.py
  backend/src/schemas.py
  backend/tests/__init__.py
  backend/tests/test_catcord.py
  docker-compose.yml
  tests/test_catcord.py
Owners: @Kronifer, @Evorage0, @doublevcodes

Expose port 3000
  backend/Dockerfile
Owners: @Kronifer, @Evorage0, @doublevcodes

Update actionembed.yml
  .github/workflows/actionembed.yml
Owners: none

docs: Use docusaurus for docs (#88)
  docs/.gitignore
  docs/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  docs/.yarn/releases/yarn-berry.cjs
  docs/.yarnrc.yml
  docs/README.md
  docs/babel.config.js
  docs/docs/intro.md
  docs/docs/see-also/contributing.md
  docs/docs/see-also/privacy.md
  docs/docs/see-also/terms.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures.js
  docs/src/components/HomepageFeatures.module.css
  docs/src/css/custom.css
  docs/src/pages/markdown-page.md
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/tutorial/docsVersionDropdown.png
  docs/static/img/tutorial/localeDropdown.png
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/yarn.lock
Owners: none

Update docusaurus.config.js
  docs/docusaurus.config.js
Owners: none

Update dependabot.yml
  .github/dependabot.yml
Owners: none

fix: remove logger and fix isolated docker container (#101)
  .github/workflows/lint-test-backend.yml
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/core/actions.py
  backend/src/core/logger.py
  backend/src/db/crud.py
  backend/src/db/tasks.py
  backend/src/endpoints/messages.py
  backend/src/endpoints/servers.py
  backend/src/endpoints/token.py
  backend/src/main.py
  backend/tox.ini
  docker-compose.yml
Owners: @Kronifer, @Evorage0, @doublevcodes

fix: Change port from 3000 to 8000 (#104)
  backend/Dockerfile
Owners: @Kronifer, @Evorage0, @doublevcodes

.github/CODEOWNERS:

# Frontend
/frontend/ @dawnofmidnight

# Backend
/backend/ @Kronifer @Evorage0 @doublevcodes

# Docs
/docs/frontend @dawnofmidnight
/docs/backend/ @Kronifer @Evorage0 @doublevcodes
